@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

section {
  height: calc(35vh + 4rem);
  padding: 0 2rem;
  background-color: var(--cv-background-color);
  color: var(--cv-text-color);
  @include flex-column-align-center;
  justify-content: space-evenly;

  header {
    text-align: center;

    h2 {
      padding: 0 1rem;
    }
  }

  button {
    background-color: var(--button-background-color-second);
    border: 1px solid var(--cv-background-color-button);
    color: var(--button-text-color-second);
  }
}
