@import '../../../../../assets/style/var';
@import '../../../../../assets/style/mixins.scss';

section {
  height: calc(35vh + 6rem);
  background-color: $--secondary-background-color;
  padding: 0 2rem;
  @include flex-column-align-center;
  justify-content: space-evenly;

  header {
    width: 100vw;
    text-align: center;
    color: $--light-color-text;

    h2 {
      padding: 0 1rem;
    }
  }

  button {
    height: 3.4rem;
    width: 10rem;
    border-radius: 35rem;
    font-size: 1rem;
    font-weight: 600;
  }
}
