<article [ngClass]="isDarkTheme ? 'svg-filter-dark' : 'svg-filter-light'">
  <figure>
    <a [href]="data.github_url" target="_blank" rel="noopener noreferrer">
      <img
        [src]="data.url"
        [alt]="'Miniature du projet ' + data.name"
        loading="lazy" />
    </a>
  </figure>
  <section>
    <h2>{{ data.name | uppercase }}</h2>
    <p>{{ data.type }}</p>
    <p>{{ data.date }}</p>
    <button
      (click)="openModal()"
      type="button"
      aria-label="Accéder aux détails du projet">
      Voir plus
    </button>
  </section>
</article>

<app-portfolio-modal *ngIf="isModalOpen" [project]="data">
</app-portfolio-modal>
