<article>
  <figure>
    <a [href]="data.github_url" target="_blank" rel="noopener noreferrer">
      <img
        [src]="'assets/pictures/WCS.png'"
        [alt]="'Miniature du projet ' + data.name" />
    </a>
  </figure>
  <section>
    <h2>{{ data.name | uppercase }}</h2>
    <p>{{ data.type }}</p>
    <p>{{ data.date }}</p>
    <button (click)="openModal()">Voir plus</button>
  </section>
</article>

<app-portfolio-modal
  *ngIf="isModalOpen"
  [project]="data"
  (click)="closeModal()">
</app-portfolio-modal>
