@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

article {
  width: 20rem;
  color: var(--card-portfolio-text-color);
  border-radius: 1rem;

  figure {
    position: relative;
    margin: auto;

    .image-container {
      position: relative;
      width: 100%;
      margin-top: 1rem;
      border-radius: 1rem;
      overflow: hidden;
      @include flex-justify-center;

      img {
        width: 22rem;
        height: 22rem;
        border-radius: 1rem;
        display: block;
        object-fit: cover;
        transition: filter 0.3s ease;
      }
    }

    .image-container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../../../assets/pictures/logo-plus.svg');
      background-size: 8rem;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 1;
    }

    .image-container:hover img {
      filter: blur(8px);
    }

    .image-container:hover::after {
      opacity: 1;
    }
  }

  &.svg-filter-dark-theme-dark figure a::after {
    filter: brightness(0) saturate(100%) invert(68%) sepia(13%) saturate(627%) hue-rotate(314deg) brightness(102%) contrast(89%);
  }

  &.svg-filter-dark-theme-light figure a::after {
    filter: brightness(0) saturate(100%) invert(11%) sepia(2%) saturate(40%) hue-rotate(314deg) brightness(99%) contrast(98%);
  }

  &.svg-filter-light-theme-dark figure a::after {
    filter: brightness(0) saturate(100%) invert(6%) sepia(13%) saturate(5445%) hue-rotate(230deg) brightness(100%) contrast(110%);
  }

  &.svg-filter-light-theme-light figure a::after {
    filter: brightness(0) saturate(100%) invert(89%) sepia(1%) saturate(3731%) hue-rotate(204deg) brightness(111%) contrast(99%);
  }

  section {
    padding: 0.8rem 1.5rem;
    @include flex-justify-align-space-between;

    h2 {
      font-size: 1.4rem;
    }

    a {
      font-size: 1rem;
      font-weight: bold;
      width: auto;
      color: var(--training-color);

      &:hover {
        transform: none;
        transition: none;
        color: var(--navbar-background-color-hover);
      }
    }
  }
}