<section id="about">
  <header>
    <h2>A propos de moi</h2>
  </header>
  <app-quality-data />
  <p>
    Développeuse passionnée, j'ai décidé de transformer ma carrière en 2022 à la
    Wild Code School, où j'ai acquis des compétences techniques solides en
    développement web et mobile, notamment avec Angular et Spring. Mon parcours
    polyvalent, allant de la supply chain au secteur social, m’a permis de
    m’adapter à différents environnements tout en apportant une approche humaine
    aux projets que je mène.
    <br />
    <br />
    Je me considère comme une exploratrice du web, toujours à la recherche de
    nouvelles technologies et de solutions innovantes. Curieuse et proactive,
    j’aime anticiper les besoins et sortir des sentiers battus pour relever des
    défis techniques. Mon expérience en tant que teaching assistant m'a appris
    l'importance du partage et du travail collaboratif, des valeurs que
    j'intègre dans chaque projet.
    <br />
    <br />
    Récemment diplômée, je suis à la recherche de projets ambitieux au sein
    d'une équipe où la créativité et l'accessibilité sont au cœur des échanges.
    Je suis particulièrement intéressée par des projets qui mettent en avant
    l'innovation et l'expérience utilisateur. Mon objectif est de continuer à
    grandir en tant que développeuse, tout en mettant mon énergie et mon
    expertise au service d'une équipe dynamique.
    <br />
    <br />
    Si vous souhaitez en savoir davantage sur mon parcours professionnel et mon
    histoire, je serais ravie d'échanger avec vous à ce sujet. Je reste ouverte
    à toute proposition pour intégrer une entreprise qui partage mes valeurs.
  </p>
</section>
