<section id="about">
  <header>
    <h2>A propos de moi</h2>
  </header>
  <app-quality-data />
  <p>
    Passionnée par le développement d'applications, j'ai entamé ma reconversion
    professionnelle en 2022 à la Wild Code School, où j'ai acquis des
    compétences solides en développement web et mobile, notamment avec Angular
    et Spring. Mon parcours diversifié, combinant des expériences dans la supply
    chain et le secteur social, m’a conféré une polyvalence et des compétences
    transversales enrichissant ma pratique.
    <br />
    <br />
    Curieuse, proactive et adaptable, je suis prête à rejoindre une équipe pour
    contribuer à des projets innovants. Mon esprit d’équipe et ma volonté de
    relever des défis me permettent d'apporter une réelle valeur ajoutée. Je
    suis prête à mettre mon expertise et mon dynamisme au service d’une équipe,
    tout en continuant à élargir mes compétences.
  </p>
</section>
