@import '../../../../../assets/style/var';
@import '../../../../../assets/style/mixins.scss';

section {
  min-height: 100vh;
  background-color: $--primary-background-color;
  color: $--primary-color-text;
  padding: 0 2rem;
  @include flex-column-align-center;

  header {
    width: 100vw;
    margin-top: 6rem;
    text-align: center;
  }

  p {
    margin: 4rem 0 2rem 0;
  }

  img {
    position: relative;
    top: 10rem;
    width: 5rem;
    height: 5rem;
  }
}
