@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

section {
  padding: 0 2rem;
  @include flex-column-align-center;

  header {
    margin-top: 4rem;
    width: 80vw;
    text-align: center;
  }

  p {
    margin: 3rem 0;
    text-align: left;
    width: 80vw;

    @include media-tablet-screen {
      font-size: 1.2rem;
      width: 65vw;
    }

    @include media-large-screen {
      font-size: 1.2rem;
      width: 65%;
    }
  }

  img {
    position: relative;
    top: 10rem;
    width: 5rem;
    height: 5rem;
  }
}