@import "../../../../../assets/style/var";
@import "../../../../../assets/style/mixins.scss";

section {
  min-height: 100vh;
  background-color: $--secondary-color;
  color: $--light-color-text;
  padding: 0 2rem;
  @include flex-column-align-center;

  header {
    width: 30rem;
    margin-top: 6rem;
    text-align: center;
    color: $--primary-color-text;
  }

  ul > li {
    display: flex;
    flex-wrap: wrap;
  }
}
