@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

section {
  min-height: 100vh;
  padding: 0 2rem;
  @include flex-column-align-center;

  header {
    margin-top: 4rem;
    text-align: center;
    @include flex-column-align-center;

    hr {
      margin-top: 1.8rem;
      width: 5rem;
    }
  }
}
