@import "../../../../../assets/style/var";
@import "../../../../../assets/style/mixins.scss";

section {
  min-height: 100vh;
  background-color: $--secondary-color;
  color: $--light-color-text;
  padding: 0 2rem;
  @include flex-column-align-center;

  header {
    width: 100vw;
    margin-top: 6rem;
    text-align: center;
    color: $--primary-color-text;
  }

  form {
    @include flex-column-align-center;
    margin-top: 3rem;
    width: 100vw;

    label, input, textarea, p {
      width: 85vw;
    }

    label {
      color: $--primary-color-text;
      text-align: left;
    }

    input {
      height: 2rem;
      padding: 0.5rem;
      margin: 0.5rem 0 1rem 0;
    }

    textarea {
      padding: 0.5rem;
      height: 5rem;
      resize: none;
      margin: 0.5rem 0 1.2rem 0;
    }

    input,
    textarea {
      border-radius: 0.5rem;
      border: 1px solid $--primary-color-input;
    }

    p {
      color: $--primary-color-text;
      font-size: 0.8rem;
    }

    button {
      margin: auto;
      margin: 3rem 0 2rem 0;
      height: 3.4rem;
      width: 10rem;
      border-radius: 35rem;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      background-color: $--primary-color;
      color: $--primary-color-text;
    }
  }
}
