<section id="contact">
  <header>
    <h2>Contact</h2>
  </header>
  <hr />
  <form
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
    class="container-register"
  >
    <label for="name">Nom et prénom</label>
    <input
      id="name"
      type="text"
      formControlName="name"
      placeholder="Nom et prénom *"
    />
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Email *"
    />
    <label for="message">Message</label>
    <textarea
      id="message"
      formControlName="message"
      placeholder="Saisissez votre message *"
    ></textarea>
    <button type="submit" [disabled]="!contactForm.valid">ENVOYER</button>
  </form>
</section>
