@import "../../../../../assets/style/var";
@import "../../../../../assets/style/mixins.scss";

section {
  height: 100vh;
  background-color: $--secondary-color;
  color: $--light-color-text;
  padding: 0 2rem;
  @include flex-column-align-center;

  header {
    width: 100vw;
    margin-top: 6rem;
    text-align: center;
    color: $--primary-color-text;
  }

  form {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    label {
      color: $--primary-color-text;
      margin: 0.8rem 0;
    }

    input {
      height: 2rem;
      margin: 0.8rem 0.8rem 0.8rem 0;
      padding: 0.5rem;
    }

    textarea {
      margin: 0.8rem 0 0.8rem 0.8rem;
      padding: 0.5rem;
      resize: none;
    }

    input,
    textarea {
      border-radius: 0.3rem;
      border: 1px solid $--secondary-color-text;
    }

    ::placeholder {
      color: $--secondary-color-text;
    }

    label:first-of-type {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    input:first-of-type {
      grid-column: 1 / 2;
      grid-row: 2;
    }

    label:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 3;
    }

    input:nth-of-type(2) {
      grid-column: 1 / 2;
      grid-row: 4;
    }

    label:nth-of-type(3) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0.8rem 0 0.8rem 0.8rem;
    }

    textarea:first-of-type {
      grid-column: 2 / 3;
      grid-row: 2 / 5;
    }

    button {
      margin: auto;
      margin-top: 3rem;
      height: 3.4rem;
      width: 10rem;
      grid-column: 1 / 3;
      grid-row: 6;
      border-radius: 35rem;
      font-size: 1rem;
      border: none;
      background-color: $--primary-color;
      color: $--primary-color-text;
    }
  }
}
