<nav [class.scrolled]="isScrolled">
  <a href="#home" (click)="closeMenu()"><h2>Elea Voliotis</h2></a>
  <button (click)="toggleTheme()">
    <img
      [src]="currentImages.moon"
      alt="Changer de thème" />
  </button>
  <ul>
    <li>
      <a
        href="https://github.com/Elea641"
        target="_blank"
        rel="noopener noreferrer"
        (click)="closeMenu()">
        <img
          [src]="currentImages.github"
          alt="Accéder à mon profil GitHub" />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/eleavoliotis/"
        target="_blank"
        rel="noopener noreferrer"
        (click)="closeMenu()">
        <img
          [src]="currentImages.linkedin"
          alt="Accéder à mon profil LinkedIn" />
      </a>
    </li>
    <li>
      <img
        id="burger"
        class="burger"
        [src]="currentImages.burger"
        alt="Icone pour ouvrir le menu" />
      <ul id="nav-links" [ngClass]="{ 'nav-active': isNavActive }">
        <li><a href="#home" (click)="closeMenu()">ACCUEIL</a></li>
        <li><a href="#about" (click)="closeMenu()">A PROPOS</a></li>
        <li><a href="#skill" (click)="closeMenu()">COMPÉTENCES</a></li>
        <li><a href="#portfolio" (click)="closeMenu()">PORTFOLIO</a></li>
        <li><a href="#training" (click)="closeMenu()">FORMATIONS</a></li>
        <li>
          <a href="#curriculumVitae" (click)="closeMenu()">CURRICULUM VITAE</a>
        </li>
        <li><a href="#contact" (click)="closeMenu()">CONTACT</a></li>
      </ul>
    </li>
  </ul>
</nav>
