<nav [class.scrolled]="isScrolled">
  <a href="#home" (click)="closeMenu()"><h2>Elea Voliotis</h2></a>
  <ul>
    <li>
      <button (click)="toggleTheme()">
        <img
          src="../../../../assets/pictures/logo-moon.svg"
          [ngClass]="isDarkTheme ? 'svg-filter-dark' : 'svg-filter-light'"
          alt="Image permettant de changer de thème" />
      </button>
    </li>
    <li>
      <a
        href="https://github.com/Elea641"
        target="_blank"
        rel="noopener noreferrer"
        (click)="closeMenu()">
        <img
          src="../../../../assets/pictures/logo-github.svg"
          [ngClass]="isDarkTheme ? 'svg-filter-dark' : 'svg-filter-light'"
          alt="Accéder à mon profil GitHub" />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/eleavoliotis/"
        target="_blank"
        rel="noopener noreferrer"
        (click)="closeMenu()">
        <img
          src="../../../../assets/pictures/logo-linkedin.svg"
          [ngClass]="isDarkTheme ? 'svg-filter-dark' : 'svg-filter-light'"
          alt="Accéder à mon profil LinkedIn" />
      </a>
    </li>
    <li>
      <img
        id="burger"
        class="burger"
        src="../../../../assets/pictures/logo-burger-menu.svg"
        [ngClass]="isDarkTheme ? 'svg-filter-dark' : 'svg-filter-light'"
        alt="Icone pour ouvrir le menu" />
      <ul id="nav-links" [ngClass]="{ 'nav-active': isNavActive }">
        <li><a href="#home" (click)="closeMenu()">ACCUEIL</a></li>
        <li><a href="#about" (click)="closeMenu()">A PROPOS</a></li>
        <li><a href="#skill" (click)="closeMenu()">COMPÉTENCES</a></li>
        <li><a href="#portfolio" (click)="closeMenu()">PORTFOLIO</a></li>
        <li><a href="#training" (click)="closeMenu()">FORMATIONS</a></li>
        <li>
          <a href="#curriculumVitae" (click)="closeMenu()">CURRICULUM VITAE</a>
        </li>
        <li><a href="#contact" (click)="closeMenu()">CONTACT</a></li>
      </ul>
    </li>
  </ul>
</nav>
