@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

section {
  min-height: 100vh;
  width: 100vw;
  padding: 0 2rem;
  @include flex-column-align-center;
  justify-content: space-between;
  @include media-tablet-screen {
    width: calc(100vw - 1.2rem);
  }

  header {
    margin-top: 4rem;
    text-align: center;
    @include flex-column-align-center;

    hr {
      margin-top: 1.8rem;
      width: 5rem;
    }
  }

  ul {
    gap: 0.5rem;
    border: 1px solid var(--card-skills-border-color);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem 0;
    li {
      @include flex-wrap;
      justify-content: center;

      h3 {
        text-align: center;
        margin: 1rem 0;
        width: 100%;
      }

      ul {
        border: none;

        li {
          display: grid;
          grid-template-rows: 1fr 1fr;
          width: 5rem;
          height: 6rem;

          p {
            margin: 0;
            text-align: center;
          }

          img {
            width: 1.5rem;
            height: 1.5rem;
            justify-self: center;
          }

          .svg-filter-dark {
            filter: brightness(0) saturate(100%) invert(68%) sepia(13%)
              saturate(627%) hue-rotate(314deg) brightness(102%) contrast(89%);
          }

          .svg-filter-light {
            filter: brightness(0) saturate(100%) invert(6%) sepia(13%)
              saturate(5445%) hue-rotate(230deg) brightness(100%) contrast(110%);
          }
        }
      }
    }
  }

  p {
    margin: 4rem 0;
    text-align: justify;
  }

  hr:last-child {
    margin: 2rem 0 0 0;
    width: 70vw;
  }
}
