<section id="skill">
  <header>
    <h2>Compétences</h2>
    <hr />
  </header>
  <p>
    Elles sont en constantes améliorations car pour moi la joie de ce métier
    fait que l’on en apprend tous les jours, d’autant plus en étant impliquée,
    curieuse et passionnée.
  </p>
  <ul *ngFor="let skill of skills">
    <li>
      <h3>{{ skill.name }}</h3>
      <ul *ngFor="let data of skill.skills">
        <li>
          <img
            [src]="data?.svg"
            [ngClass]="isDarkTheme ? 'svg-filter-dark' : 'svg-filter-light'"
            alt="{{ data.name }}" />
          <p>{{ data.name }}</p>
        </li>
      </ul>
    </li>
  </ul>
  <hr />
</section>
