@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

section {
  padding: 0 2rem;
  @include flex-wrap;
  justify-content: center;

  header {
    margin-top: 4rem;
    text-align: center;
    width: 80vw;
    @include flex-column-align-center;

    hr {
      margin-top: 1.8rem;
      width: 5rem;
    }
  }

  p {
    margin: 4rem 0;
    text-align: justify;
    width: 80vw;

    @include media-tablet-screen {
      font-size: 1.2rem;
      width: 65vw;
    }

    @include media-large-screen {
      font-size: 1.2rem;
      width: 65%;
    }
  }

  ul {
    border: 1px solid var(--card-skills-border-color);
    border-radius: 1rem;
    margin: 0 auto 2rem auto;
    padding: 0.5rem 0;
    width: 80vw;

    @include media-tablet-screen {
      width: 65vw;
    }

    @include media-large-screen {
      width: 35vw;
      margin: 1rem;
    }

    li {
      @include flex-wrap;
      justify-content: center;

      h3 {
        text-align: center;
        margin: 1rem 0;
        width: 100%;
      }

      ul {
        border: none;
        width: 5rem;
        margin: 0.5rem;

        @include media-tablet-screen {
          width: 7rem;
        }

        @include media-large-screen {
          width: 7rem;
        }

        li {
          display: grid;
          grid-template-rows: 1fr 1fr;
          width: 5rem;
          height: 6rem;

          @include media-tablet-screen {
            width: 7rem;
          }

          @include media-large-screen {
            width: 8rem;
          }

          p {
            margin: auto;
            text-align: center;
            width: 100%;
          }

          img {
            width: 1.5rem;
            height: 1.5rem;
            justify-self: center;
          }

          .svg-filter-dark {
            filter: brightness(0) saturate(100%) invert(68%) sepia(13%) saturate(627%) hue-rotate(314deg) brightness(102%) contrast(89%);
          }

          .svg-filter-light {
            filter: brightness(0) saturate(100%) invert(6%) sepia(13%) saturate(5445%) hue-rotate(230deg) brightness(100%) contrast(110%);
          }
        }
      }
    }
  }
}

hr:last-child {
  margin: auto;
  width: 75vw;
  margin-top: 4rem;

  @include media-tablet-screen {
    width: 65vw;
  }

  @include media-large-screen {
    width: 55vw;
  }
}