@import '../../../../assets/styles/var';
@import '../../../../assets/styles/mixins.scss';

footer {
  height: 10rem;
  width: 100vw;
  @include flex-justify-align-center;
  @include media-tablet-screen {
    width: calc(100vw - 1.2rem);
  }

  a {
    p {
      text-align: center;
    }
  }
}
