@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

section {
  padding: 0 2rem;
  @include flex-column-align-center;

  @include media-large-screen {
    justify-content: left;
  }

  header {
    margin-top: 4rem;
    text-align: center;
    @include flex-column-align-center;

    hr {
      margin-top: 1.8rem;
      width: 5rem;
    }
  }

  ul > li {
    @include flex-wrap;
    justify-content: center;
    gap: 2rem;

    @include media-large-screen {
      margin-top: 5rem;
    }
  }

  li:first-of-type {
    margin-top: 4rem;
  }
}
