<div *ngIf="training" class="modal">
  <article class="modal-content">
    <button (click)="closeModal()" type="button" aria-label="Fermer">
      <svg class="close-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 18L18 6M6 6l12 12" stroke="currentColor" stroke-width="2" fill="none" />
      </svg>
    </button>
    <section>
      <h3>{{ training.trainingCenter }}</h3>
      <p>{{ training.name }}</p>
      <p>{{ training.date }}</p>
      <p [innerHTML]="training.content"></p>
      <p>{{ training.technos }}</p>
    </section>
  </article>
</div>