@import './assets/styles/var';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #{$--primary-background-color};
  --text-color: #{$--primary-color-text};
  --navbar-background-color: #{$--primary-background-color};
  --navbar-border-color: #1a1a1a;
  --button-border-color: #{$--primary-color-border};
  --button-text-color: #{$--primary-color-button};
  --button-background-color-second: #{$--secondary-background-color};
  --button-text-color-second: #{$--secondary-color-text};
}

.light-theme {
  --background-color: #{$--secondary-background-color};
  --text-color: #{$--secondary-color-text};
  --navbar-background-color: #{$--secondary-background-color};
  --navbar-border-color: #{$--secondary-color-text};
  --button-border-color: #{$--secondary-color-border};
  --button-text-color: #{$--secondary-color-button};
  --button-background-color-second: #{$--primary-background-color};
  --button-text-color-second: #{$--primary-color-text};
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  a {
    color: var(--text-color);
  }
}

h1,
h2,
h3,
p,
a,
label,
ul,
li {
  font-family: $--font-family-roboto;
  line-height: 1.4;
}

h2 {
  font-size: $--font-size-h2;
}

h3 {
  font-size: $--font-size-h3;
}

p,
a,
label {
  font-size: $--font-size-p;
}

button {
  background-color: transparent;
  border: none;
  font-size: $--font-size-button;
}
