@import './assets/styles/var';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #{$--primary-background-color};
  --text-color: #{$--primary-color-text};
  --navbar-background-color: #{$--primary-background-color};
  --navbar-border-color: #{$--accent-border-color};
  --navbar-h2-border-color: #{$--accent-border-color};
  --button-border-color: #{$--accent-border-color};
  --button-text-color: #{$--primary-color-border};
  --button-background-color-second: #{$--accent-background-button};
  --button-text-color-second: #{$--primary-background-color};
  --card-quality-background-color: #{$--primary-background-color};
  --card-quality-text-color: #{$--primary-color-text};
  --card-quality-border-color: #{$--accent-border-color};
  --card-skills-border-color: #{$--accent-border-color};
  --card-portfolio-background-color: #{$--primary-background-color};
  --card-portfolio-text-color: #{$--primary-color-text};
  --card-portfolio-border-color: #{$--accent-border-color};
  --card-portfolio-button-border-color: #{$--accent-border-color};
  --card-portfolio-button-text-color: #{$--primary-color-button};
  --card-portfolio-modal-button: #{$--accent-color-text};
  --input-textara-border-color: #{$--primary-color-border};
  --input-textara-text-color: #{$--primary-color-text};
  --cv-text-color: #{$--primary-background-color};
  --cv-background-color: #{$--background-color-cv-dark};
  --cv-background-color-button: #{$--primary-background-color};
  --hr-color: #{$--primary-color-hr};
  --footer-background: #{$--primary-background-color};
  --footer-color: #{$--accent-color-text};
  --training-color: #{$--accent-color-text};
}

.light-theme {
  --background-color: #{$--secondary-background-color};
  --text-color: #{$--secondary-color-text};
  --navbar-background-color: #{$--secondary-background-color};
  --navbar-border-color: #{$--secondary-color-text};
  --navbar-h2-border-color: #{$--secondary-color-border};
  --button-border-color: #{$--secondary-color-border};
  --button-text-color: #{$--secondary-color-button};
  --button-background-color-second: #{$--secondary-background-button};
  --button-text-color-second: #{$--primary-color-text};
  --card-quality-background-color: #{$--secondary-background-color};
  --card-quality-text-color: #{$--secondary-color-text};
  --card-quality-border-color: #{$--secondary-color-border};
  --card-skills-border-color: #{$--secondary-color-border};
  --card-portfolio-background-color: #{$--secondary-background-color};
  --card-portfolio-text-color: #{$--secondary-color-text};
  --card-portfolio-border-color: #{$--secondary-color-border};
  --card-portfolio-button-border-color: #{$--secondary-color-text};
  --card-portfolio-button-text-color: #{$--secondary-color-button};
  --card-portfolio-modal-button: #{$--secondary-color-text};
  --input-textara-border-color: #{$--secondary-color-border};
  --input-textara-text-color: #{$--secondary-color-text};
  --cv-text-color: #{$--primary-color-text};
  --cv-background-color: #{$--background-color-cv-light};
  --cv-background-color-button: #{$--primary-background-button};
  --hr-color: #{$--secondary-color-hr};
  --footer-background: #{$--background-color-footer-light};
  --footer-color: #{$--primary-color-text};
  --training-color: #{$--secondary-color-text};
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  a {
    color: var(--text-color);
  }
}

h1,
h2,
h3,
p,
a,
label,
ul,
li {
  font-family: $--font-family-roboto;
  line-height: 1.5;
}

h2 {
  font-size: $--font-size-h2;
}

h3 {
  font-size: $--font-size-h3;
}

p,
a,
label {
  font-size: $--font-size-p;
}

button {
  background-color: transparent;
  border: none;
  font-size: $--font-size-button;
  cursor: pointer;
}

hr {
  border-bottom: 3px solid var(--hr-color);
}
