@import './assets/styles/var';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #{$--primary-background-color};
  --text-color: #{$--primary-color-text};
  --navbar-background-color: #{$--primary-background-color};
  --navbar-border-color: #{$--primary-color-text};
}

.light-theme {
  --background-color: #{$--secondary-background-color};
  --text-color: #{$--secondary-color-text};
  --navbar-background-color: #{$--secondary-background-color};
  --navbar-border-color: #{$--secondary-color-text};
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  a {
    color: var(--text-color);
  }
}

h2,
h3,
p,
a,
label,
ul,
li {
  font-family: $--font-family-roboto;
  line-height: 1.4;
}

h2 {
  font-size: $--font-size-h2;
}

h3 {
  font-size: $--font-size-h3;
}

p,
a,
label {
  font-size: $--font-size-p;
}

hr {
  margin-top: 1.8rem;
  width: 4rem;
  border-bottom: 3px solid red;
}

button {
  background-color: transparent;
  border: none;
}
