@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Montserrat:wght@100&family=Poppins:wght@100;200;300');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ELEMENTS COLORS */
$--primary-background-color: #303030;
$--secondary-background-color: #f5eaea;
$--background-color-cv: #d6a4a4;

/* TEXT COLORS */
$--primary-color-text: #f5eaea;
$--secondary-color-text: #303030;

/* TEXT FONT */
$--font-family-poppins: 'Poppins', Verdana, sans-serif;
$--font-family-roboto: 'Roboto', Verdana, sans-serif;

/* TEXT SIZE */
$--font-size-h2: 2rem;
$--font-size-h3: 1.4rem;
$--font-size-p: 1rem;
$--font-size-ul: 1.2rem;
$--font-size-li: 1rem;
$--font-size-button: 1.2rem;

/* BUTTONS COLORS */
$--primary-color-button: #f5eaea;
$--secondary-color-button: #303030;

/* BORDER COLORS */
$--primary-color-border: #f5eaea;
$--secondary-color-border: #303030;

/* INPUTS COLORS */
$--primary-color-input: #303030;

/* HR COLORS */
$--primary-color-hr: #d6a4a4;
