@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Montserrat:wght@100&family=Poppins:wght@100;200;300');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ELEMENTS COLORS */
//$--primary-background-color: #020104;
$--primary-background-color: #1d1d1d;
$--secondary-background-color: #fcfbfe;
$--background-color-cv-light: #090217;
$--background-color-cv-dark: #d6a4a4;
$--background-color-footer-light: #090217;

/* TEXT COLORS */
$--primary-color-text: #f5eaea;
$--secondary-color-text: #090217;
$--accent-color-text: #d6a4a4;
$--primary-color-text-hover: #ecb4b4;
$--secondary-color-text-hover: #150537;

/* TEXT FONT */
$--font-family-poppins: 'Poppins', Verdana, sans-serif;
$--font-family-roboto: 'Roboto', Verdana, sans-serif;

/* TEXT SIZE */
$--font-size-h2: 2rem;
$--font-size-h3: 1.4rem;
$--font-size-p: 1rem;
$--font-size-ul: 1.2rem;
$--font-size-li: 1rem;
$--font-size-button: 1.2rem;

/* BUTTONS COLORS */
$--primary-color-button: #fcfbfe;
$--secondary-color-button: #090217;
$--primary-background-button: #fcfbfe;
$--secondary-background-button: #090217;
$--accent-background-button: #d6a4a4;
$--secondary-background-button-hover: #150537;
$--accent-background-button-hover: #ecb4b4;


/* BORDER COLORS */
$--primary-color-border: #fcfbfe;
$--secondary-color-border: #090217;
$--accent-border-color: #d6a4a4;

/* INPUTS COLORS */
$--primary-color-input: #090217;

/* HR COLORS */
$--primary-color-hr: #d6a4a4;
$--secondary-color-hr: #090217;

/* LOADER COLORS */
$--primary-color-loader: #d6a4a4;

/* WEBKIT-SCROLLBAR COLORS */
$--background-color-webkit-scrollbar-light-primary: #f1f1f1;
$--background-color-webkit-scrollbar-light-secondary: #090217;
$--background-color-webkit-scrollbar-dark-primary: #1d1d1d;
$--background-color-webkit-scrollbar-dark-secondary: #d6a4a4;
$--border-webkit-scrollbar-light: #090217;
$--border-webkit-scrollbar-dark: #d6a4a4;