<section id="home">
  <header>
    <h2>Vous recherchez une Conceptrice Développeuse Web ?</h2>
  </header>
  <hr />
  <img
    src="assets/pictures/photo-profile.jpeg"
    alt="Photo représentant une jeune femme" />
  <p>
    Vous souhaitez en savoir plus sur moi ? N'hésitez pas à explorer les
    différentes sections de mon site. Au plaisir d'échanger avec vous
    prochainement.
  </p>
  <a href="#about">
    <img
      src="assets/pictures/logo-arrow-down.png"
      alt="Flèche indiquant le défilement vers le bas" />
  </a>
</section>
