@import '../../../../../assets/styles/var';
@import '../../../../../assets/styles/mixins.scss';

section {
  min-height: 100vh;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  header {
    margin-top: 4rem;
    text-align: center;
    grid-column: span 2;
    align-self: center;
  }

  img {
    position: relative;
    width: 15rem;
    height: 15rem;
    filter: grayscale(100%);
    border-radius: 50%;
    grid-column: span 2;
    align-self: center;
    justify-self: center;
  }

  p {
    font-size: 1.2rem;
    text-align: center;
    grid-column: span 2;
  }

  a {
    justify-self: center;
    width: 10rem;
    height: 3.2rem;
  }

  button {
    width: 10rem;
    height: 3.2rem;
    color: var(--button-border-color);
    border: 1px solid var(--button-text-color);
    border-radius: 0.5rem;
  }

  a:last-of-type button {
    background-color: var(--button-background-color-second);
    color: var(--button-text-color-second);
    border: none;
  }
}
