<section id="home">
  <header>
    <h1>Vous recherchez une Développeuse d'Applications Web ?</h1>
  </header>
  <img
    src="assets/pictures/photo-profile.jpeg"
    alt="Photo représentant une jeune femme" />
  <p>
    Vous souhaitez en savoir plus sur moi ? N'hésitez pas à explorer les
    différentes sections de mon site. Au plaisir d'échanger avec vous
    prochainement.
  </p>
  <a href="assets/documents/CV-Elea-Voliotis.pdf" download="CVEleaVoliotis">
    <button type="button">Télécharger CV</button>
  </a>
  <a href="#about">
    <button>À propos de moi</button>
  </a>
</section>
