<section id="home">
  <header>
    <h1>Vous recherchez une Développeuse d'Applications Web ?</h1>
  </header>
  <img
    src="assets/pictures/photo-profile.jpg"
    alt="Photo me représentant pour me présenter"
    loading="lazy" />
  <p>
    Vous souhaitez en savoir plus sur moi ? N'hésitez pas à explorer les
    différentes sections de mon site. Au plaisir d'échanger avec vous
    prochainement.
  </p>
  <a href="assets/documents/CV-Elea-Voliotis.pdf" download="CVEleaVoliotis">
    <button type="button" aria-label="Télécharger mon CV">
      Télécharger CV
    </button>
  </a>
  <a href="#about">
    <button type="button" aria-label="En savoir plus sur moi">
      À propos de moi
    </button>
  </a>
</section>
<hr />
