@import "../../../../../assets/style/var";
@import "../../../../../assets/style/mixins.scss";

section {
  height: 100vh;
  background-color: $--secondary-background-color;
  color: $--light-color-text;
  padding: 0 2rem;
  @include flex-column-align-center;

  header {
    margin-top: 6rem;
    text-align: center;

    h2 {
      display: inline-block;
      overflow: hidden;
      font-family: monospace;
      position: relative;
      width: 100%;
      max-width: 100%;
      // animation: typewriter 8s steps(50, end) 1s 1 normal both,
      //   blink 0.75s step-end infinite;
      // white-space: pre-wrap;
    }
  }

  p {
    margin-top: 3.5rem;
    color: $--light-shadow-color-text;
  }

  img {
    position: relative;
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    &:hover {
      opacity: 0.8;
    }
  }
}

// @keyframes typewriter {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }

// @keyframes blink {
//   0% {
//     border-color: transparent;
//   }
//   50% {
//     border-color: black;
//   }
//   100% {
//     border-color: transparent;
//   }
// }
