@import '../../../../../assets/style/var';
@import '../../../../../assets/style/mixins.scss';

section {
  min-height: 100vh;
  background-color: $--secondary-background-color;
  color: $--light-color-text;
  padding: 0 2rem;
  @include flex-column-align-center;
  @include media-tablet-screen {
    width: calc(100vw - 1.2rem);
  }

  header {
    margin-top: 6rem;
    text-align: center;

    h2 {
      display: inline-block;
      overflow: hidden;
      font-family: monospace;
      position: relative;
      width: 100%;
      max-width: 100%;
    }
  }

  img {
    position: relative;
    margin-top: 4rem;
    width: 12rem;
    height: 12rem;
    filter: grayscale(100%);
    border-radius: 50%;
  }

  p {
    font-size: 1.2rem;
    margin-top: 3.5rem;
    color: $--light-shadow-color-text;
  }

  a > img {
    position: relative;
    bottom: 1rem;
    width: 5rem;
    height: 5rem;
    filter: grayscale(0);
    &:hover {
      opacity: 0.8;
    }
  }
}
