@import '../../../../../assets/styles/mixins.scss';

ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  padding: 0 2rem;
  margin-top: 2rem;

  li {
    margin: 0.8rem;
  }

  img {
    width: 1.2rem;
    height: 1.2rem;
    justify-self: center;
  }
}
