@import '../../../../../assets/styles/mixins.scss';

ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  padding: 0 2rem;
  margin-top: 2rem;

  li {
    margin: 0.8rem;
  }

  .last-image {
    width: 5.5rem;
    height: 5.5rem;
    ::ng-deep img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
