@import '../../../../../assets/styles/mixins.scss';
@import '../../../../../assets/styles/var';

section {
  width: 5.5rem;
  height: 5.5rem;
  background-color: var(--card-quality-background-color);
  border: 1px solid var(--card-quality-border-color);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 0.5rem 0.5rem 0.5rem;

  img {
    width: 2rem;
    height: 2rem;
    justify-self: center;
    align-self: center;
  }

  .svg-filter-dark {
    filter: brightness(0) saturate(100%) invert(68%) sepia(13%) saturate(627%) hue-rotate(314deg) brightness(102%) contrast(89%);
  }

  .svg-filter-light {
    filter: brightness(0) saturate(100%) invert(6%) sepia(13%) saturate(5445%)
      hue-rotate(230deg) brightness(100%) contrast(110%);
  }

  p {
    text-align: center;
    justify-self: center;
    align-self: center;
    color: var(--card-quality-text-color);
    font-size: 0.8rem;
  }
}
